//
// グリッドのスタイル
//


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  list-style-type: none;
  margin: 0 1.5rem 30rem 1.5rem;
  padding: 0;
  li {
    padding: 0;
    a {
      img {
        transition-duration: 0.5s;
        &:hover {
          box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
          transform: translateY(-10px);
          opacity: 0.8;
          transition-duration: 0.3s;
        }
      }
    }
  }
}
