//
// ランキングのスタイル
//

.slider-x {
    display: flex;
    width: 100%;
    padding: 5rem 0 10rem 0;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    @media  (min-width: ($pc)) {
        flex-direction: column;
        max-width: 190rem;
        height: auto;
        padding: 0;
        margin: 0 auto;
        overflow-x: visible;
        scroll-snap-type: none;
        -webkit-flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .rank_box {
        display: flex;
        flex: none;
        position: relative;
        padding-left: 5rem;
        height: 100%;
        width: 100%;
        color: $black;
        scroll-snap-align: center;
        @media  (min-width: ($pc)) {
            justify-content: center;
            height: 100%;
            margin-top: 10rem;
            box-sizing: border-box;
            padding-bottom: 10rem;
            padding-left: 0;
        }
        .rank_img {
            width: 80%;
            max-height: 35rem;
            z-index: 1;
            @media  (min-width: ($pc)) {
                width: 70%;
                max-height: 120rem;
                left: 10%;
                box-sizing: border-box;
            }
            @media (min-width: 769px) and (max-width: 1200px) {
                width: 70%;
                left: 10%;
            }
        }
        .rank_img_2 {
            @media  (min-width: ($pc)) {
                left: 20%;
            }
            @media (min-width: 769px) and (max-width: 1200px) {
                width: 70%;
                left: 20%;
            }
        }
        .rank_title {
            position: absolute;
            top: 5%;
            left: 15%;
            margin: 0;
            z-index: 2;
            color: $white;
            font-size: 2.2rem;
            line-height:0.95em;
            text-shadow: 0 0.05em 0.08em rgba(0,0,0,0.7);
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            @media  (min-width: ($pc)) {
                font-size: 8rem;
                top: 3%;
                left: 20%;
            }
             @media (min-width: 769px) and (max-width: 1200px) {
                font-size: 5rem;
            }
            @media (min-width: 480px) and (max-width: 599px) {
               font-size: 3.5rem;
            }
            @media (min-width: 600px) and (max-width: 768px) {
               font-size: 3.6rem;
               left: 12%;
            }
        }
        .rank_title_2 {
            @media  (min-width: ($pc)) {
                right: 17%;
                color: $black;
            }
        }
        .rank_number {
            position: absolute;
            z-index: 4;
            top: 0;
            right: 12%;
            margin: 0;
            font-family: 'Dancing Script', cursive;
            color: $orange;
            font-size: 3rem;
            font-weight: bold;
            transform: rotate(2deg);
            @media  (min-width: ($pc)) {
                top: 0%;
                left: 80%;
                font-size: 8rem;
                letter-spacing: 1.5rem;
            }
            @media (min-width: 769px) and (max-width: 1200px) {
                top: 1%;
                left: 80%;
                font-size: 5rem;
            }
            @media (min-width: 480px) and (max-width: 599px) {
               font-size: 4rem;
               letter-spacing: 1rem;
            }
            @media (min-width: 600px) and (max-width: 768px) {
                font-size: 5rem;
                letter-spacing: 1rem;
            }
        }
        .rank_number_2 {
            @media  (min-width: ($pc)) {
                left: -60%;
            }
        }
        .rank_introduction {
            position: absolute;
            top: 80%;
            right: 10%;
            left: 30%;
            z-index: 3;
            margin: 0;
            padding: 1rem;
            font-size: 1.3rem;
            background: rgba(255,255,255,0.7);
            box-shadow: 0.7rem 0.7rem 0.7rem #ccc;
            @media  (min-width: ($pc)) {
                position: static;
                margin-top: 4rem;
                padding: 3rem 3rem 3rem 4rem;
                font-size: 2.5rem;
                letter-spacing: 1rem;
                text-align: initial;
            }
            @media (min-width: 454px) and (max-width: 490px) {
                top: 80%;
                left: 40%;
            }
            @media (min-width: 491px) and (max-width: 659px) {
                top: 80%;
                left: 40%;
                right: 7%;
                font-size: 1.6rem;
            }
            @media (min-width: 660px) and (max-width: 768px) {
                top: 85%;
                left: 50%;
                right: 6%;
                font-size: 1.7rem;
            }
        }
        .rank_introduction_2 {
            @media  (min-width: ($pc)) {
                box-shadow: -0.7rem 0.7rem 0.7rem #ccc;
            }
            @media (min-width: 769px) and (max-width: 1200px) {
                right: 30%;
                left: -15%;
            }
        }
    }
}

.swipe {
    padding-right: 3rem;
    color: $light-blue;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    text-align: right;
    @media (min-width: ($pc)) {
        display: none;
    }
}
